[submodule "external/gdrcopy"]
	path = external/gdrcopy
	url = https://github.com/ajitkhaparde/gdrcopy-brcm
[submodule "external/dpdk"]
	path = external/dpdk
	url = https://github.com/ajitkhaparde/dpdk
